@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table border="1" style="width:100%;" id="clientsTable">
        <thead>
            <tr>
                <th style="width: 33%">Nome</th>
                <th style="width: 33%">Email</th>
                <th style="width: 33%">Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alfredo Lima</td>
                <td>alima@email.com</td>
                <td>01/01/1990</td>
            </tr>
            <tr>
                <td>Betina Soares</td>
                <td>bsoares@email.com</td>
                <td>01/01/1994</td>
            </tr>
            <tr>
                <td>Cássia Amorim</td>
                <td>camorim@email.com</td>
                <td>01/01/1995</td>
            </tr>
        </tbody>
    </table>
</div>
